<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Jorja Smith</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home">Jorja Smith</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/works">Works</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div>

        <div>
            <h1 class="text-center text-secondary">Jorja Smith</h1>
            <br />
            <p class="text-justify m-3">
                Jorja Alice Smith nasceu em 11 de junho de 1997 em Walsall, nas Midlands Ocidentais, filha de pai
                jamaicano e mãe inglesa. Seu pai, Peter, gestor de recursos humanos, é um ex músico e cantava em
                um grupo de neo-soul chamado 2nd Naicha antes de Smith nascer, e sua mãe, Jolene, é designer de
                joias. Smith tem um irmão mais novo, Luca, e é prima do jogador Kemar Roofe do Leeds
                United.

                Ela começou a estudar piano aos oito anos com encorajamento do seu pai. Smith ganhou uma bolsa
                para estudar na Aldridge School, onde aprendeu a tocar o oboé e estudou canto clássico, antes de estudar
                música para seus exames de A-level. Foi encontrada por um agente aos 15 anos após subir vídeos
                seus cantando versões no YouTube. Logo após, ela começou a viajar para Londres para compor junto com
                Maverick Sabre e Ed Thomas, enquanto ainda estudava. Após se formar, mudou para Londres aos 18
                anos onde se sustentou trabalhando como barista, e continuou compondo canções </p>
            <br />
            <p class="m-3">Em janeiro de 2016, Smith lançou seu primeiro single "Blue Lights", que sampleia a canção
                "Sirens" de Dizzee Rascal, no SoundCloud; a canção foi reproduzida 400 000 vezes no website no primeiro
                mês. Seu segundo single "Where Did I Go?", lançado em maio, foi escolhido por Drake como sua faixa
                favorita do momento no Entertainment Weekly em julho. Em novembro de 2016, lançou seu EP de estreia,
                com quatro faixas: Project 11. No mesmo mês, Smith foi selecionada como uma das 15 estrelas
                promissoras na lista Sound of 2017 da BBC Music, chegando à quarta posição.

                Smith fez uma participação especial na turnê Boy Meets World do Drake em fevereiro e março de 2017,
                e cantou em duas faixas da sua mixtape More Life (2017). Ela lançou a canção "Beautiful Little
                Fools" no Dia Internacional das Mulheres; o título é uma referência ao livro The Great Gatsby. Em
                maio, ela cantou na canção "Tyrant" de Kali Uchis, o primeiro single do álbum de estúdio de Uchis
                Isolation (2018). Ela lançou seu terceiro single, "Teenage Fantasy", em junho. Dois meses
                depois, Smith e o artista de grime Preditah lançaram um single juntos chamado "On My Mind". Em
                setembro de 2017, começou a namorar o cantor e produtor Joel Compass.
            </p>
            <br />
            <p class="m-3">
                Smith cresceu escutando reggae, punk, hip-hop e R&B, e compôs sua primeira canção aos 11 anos. Ela
                diz ter sido "obcecada" com o álbum de estreia de Amy Winehouse Frank durante a adolescência e foi
                inspirada pela abordagem crua da cantora para com a composição. Smith disse que suas canções são
                sobre questões sociais: "Quando as coisas estão acontecendo no mundo, acho importante abordá-las,
                porque, como músico, você pode fazer as pessoas escutarem. Logo que elas apertam o play, você tem a
                atenção delas." Ela cita Lauryn Hill, Alicia Keys, Mos Def e The Streets como
                influências. Seu canto já foi comparado com Adele, Alicia Keys e Rihanna. </p>
        </div>

</body>

</html>