<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Jorja Smith</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
  <link rel="stylesheet" href="./style.css" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">Jorja Smith</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/works">Works</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div>
    <h1 class="text-center ">Welcome to Jorja Smith page!</h1>
    <img
      src="https://s2.glbimg.com/ezDEi5IlNHlKo17YO5wpdXzmnOs=/0x0:2000x1336/1008x0/smart/filters:strip_icc()/s.glbimg.com/jo/g1/f/original/2019/04/06/jorja-smith_2019-04-06_dsc01414_fabio_tito-g1.jpg"
      class="img-fluid rounded mx-auto d-block" alt="image of jorja smith">
  </div>
</body>

</html>